<div>
  <%  @students.each do |student| %>
   Name: <div><%= link_to student.to_s, student_path(student) %></div>
     <%= link_to "change status", activate_student_path(student)%>
  <% end %>

</div>